body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

header {
  display: block;
  width: 100%;
  height: 80px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  background-color: gainsboro;
}

header > h1 {
  margin: 0;
  font-size: 4em;
}
#button-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

#button-container > button {
  display: block;
  width: 160px;
  height: 100px;
  margin: 20px;
  font-size: 1.5em;
  color: white;
  box-shadow: 0 3px 2px rgb(153, 153, 153);
  border-radius: 50px;
  border: rgb(153, 153, 153);
  text-align: center;
}

#options-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-areas:
    'instr instr instr instr'
    'select adder remover every';
  grid-template-columns: 1fr 200px 200px 1fr;
  grid-gap: 5px;
  background-color: gainsboro;
}

button,
select {
  display: block;
  width: 200px;
  height: 40px;
  margin: 0;
  background-color: white;
  font-size: 1.25em;
  box-shadow: 0 1px 1px 0 #c7c7c7 inset;
}

#bottom-info {
  grid-area: instr;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#colors {
  grid-area: select;
  margin: 0 0 0 auto;
}

#bonanza {
  grid-area: every;
}

#adder {
  grid-area: adder;
}

#remover {
  grid-area: remover;
}
